body {
  background-color:#f5efe9;
}
h2 {
  padding-left: 40px;
}
h3 {
  padding-left: 40px;
}
.mainBodyDiv{
  margin: 70px auto;
  width: 70%;
  min-width: 1000px;
}
.menuDiv {
  word-break: break-all;
  backdrop-filter: blur(5px);
  margin-bottom: 20px;
  position: sticky;
  top: 0;
}
.subMenuGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.mainViewDiv {
  padding-top: 10px;
}
.unitDiv {
  border: 1px solid black;
  padding: 20px auto;
  border-radius: 5px;
}
.subGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin: 20px 0px;
}
.categoryStyle {
  width: 100px;
}
input:read-only.categoryStyle_readingMode {
  background-color: white;
  border: none;
  width: 100px;
}
.amountStyle {
  text-align : right;
  width: 70px;
  margin-right: 10px;
}
input:read-only.amountStyle_readingMode  {
  background-color: white;
  border: none;
  text-align : right;
  width: 70px;
  margin-right: 10px;
}
input:read-only {
background-color: #cdcdcd;
}
.newUlStyle {
list-style:none;
}
.saveEditedStyle {
width: 100%;
height: 40px;
color: white;
background-color: #3d3f45;
}
.pageHanderDiv {
  font-size: 13px;
  margin: 10px;
}
.loginMenuDiv {
  text-align: right;
  font-size: 13px;
  margin: 10px;
}
.titleDiv{
  text-align : center;
}