* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: #F8F7F7;
  /* min-height: 100vh; */
}

div {
  box-sizing: border-box;
}

table {
  table-layout: fixed;
  margin: 10px;
}

table,
td,
th {
  border-collapse: collapse;
  border: 0px solid #000000;
  text-align: center;
}

.isolatedTableDivStyle {
  border: 1px solid black;
  padding: 8px;
  margin: 12px 6px;
  border-radius: 6px;
}

.isolatedTableDivStyle table {
  border-collapse: collapse;
}

.isolatedTableDivStyle td {
  text-align: left;
  /* Left align text in all td elements */
}

.tdOnAccount {
  padding: 10px 2px;
  width: 100%;
}

.inputOnAccount {
  width: 56px;
  padding: 6px 4px;
  margin: 0;
  text-align: right;
}

.inputOnAccount2 {
  width: 100px;
  padding: 6px 4px;
  margin: 0;
  text-align: right;
}

.tdOnAccountBtn {
  width: 60px;
}

.btnOnAccountBtn {
  width: 60px;
}

.btnOnAccountBtn:hover {
  background-color: #004EFC;
  border: 0px;
}

.thOnList {
  font-weight: normal;
  min-width: 20px;
}

.tdForNew {
  min-width: 50px;
}

h2 {
  color: #11212D;
  margin: 0;
}

span {
  font-size: 13px;
  color: #11212D;
}

button {
  background-color: #11212D;
  border: 1px solid #11212D;
  color: #FFFFFF;
  min-width: 30px;
  padding: 5px;
  margin: 0 5px;
  border-radius: 4px;
}

button:hover {
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: box-shadow 0.1s linear;
}

input {
  padding: 4px 7px;
  margin: 4px 0px;
  border: 0px solid white;
  border-radius: 4px;
  width: 100%;
}

input:read-only {
  background-color: rgba(255, 255, 255, 0.5);
  border: 0px solid white;
  color: #11212D;
}

.loginBtn {
  background-color: #004EFC;
  border: 1px solid #004EFC;
  margin: 10px 0px;
}

.logoutBtn {
  background-color: transparent;
  border: 1px solid #FFFFFF;
  margin: 10px 0px;
}

.normalBtn {
  background-color: transparent;
  border: 1px solid #4a5c6a;
  color: #4a5c6a;
  margin: 10px 5px;
}

.expenseDetailBtn {
  background-color: transparent;
  border: 1px solid #9BA8AB;
  color: #9BA8AB;
  margin: 10px;
  width: 80%;
}

.expenseDetailBtn:hover {
  background-color: #4a5c6a;
  border: 1px solid #4a5c6a;
  color: white;
}


.newExpenseDiv {
  display: flex;
}

.newExpenseBtn_plus {
  height: 30px;
  background-color: transparent;
  border: 1px solid #9BA8AB;
  color: #9BA8AB;
  display: inline;
  padding: 5px;
}

.newExpenseBtn_minus {
  height: 30px;
  background-color: transparent;
  border: 1px solid #9BA8AB;
  color: #9BA8AB;
  display: inline;
  padding: 5px;
}

.newExpenseBtn_plus:hover {
  background: rgb(0, 78, 252, 0.5);
  border: 0px;
  color: white;
}

.newExpenseBtn_minus:hover {
  background: rgb(168, 40, 40, 0.5);
  border: 0px;
  color: white;
}

.newExpenseDoneBtn {
  margin: 0px 0px 0px 5px;
  height: 30px;
}

.menuBtn {
  width: 100%;
  height: 40px;
  padding: 10px 0px;
  margin: 5px auto;
}

.menuMainGrid {
  width: 100%;
}

.menuGrid {
  display: grid;
  grid-template-rows: 3fr 1fr;
  background: #4a5c6a;
  color: #FFFFFF;
  font-size: 13px;
  padding: 20px 20px 0 20px;
  height: 100vh;
  width: 200px;
  flex-shrink: 0;
  position: fixed;
  z-index: 997;
}

.loginDiv {
  padding: 10px;
  width: 160px;
  word-wrap: break-word;
}

.mainDiv {
  margin-left: 200px;
  /* padding-top: 10px; */
  overflow: hidden;
  height: 100vh;
}

.pageNameDiv {
  background-color: transparent;
  height: 7%;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.mainBtnDiv {
  background-color: transparent;
  padding: 5px 0px 10px 20px;
  /* position: relative; */
}

.saveEditedDiv {
  width: 400px;
  text-align: left;
}

::-webkit-scrollbar {
  display: block;
  background: transparent;
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-button {
  display: none;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(140, 140, 140, 0.5);
  border-radius: 10px;
  border: 5px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  background: #4a5c6a;
}

.pageSelect {
  background-color: white;
  border-radius: 4px;
  width: 160px;
  margin: 10px auto;
  padding: 4px;
  cursor: pointer;
}

.listViewDiv {
  white-space: nowrap;
  width: 600px;
  padding: 10px 5px;
  height: 90vh;
}

.flowViewDiv {
  /* padding: 10px; */
  background-color: #f4f4f4;
  width: 100%;
  height: 100%;
}

.flowViewControlDiv {
  position: fixed;
  z-index: 996;
  padding-top: 20px;
}

.bottonControlDiv {
  position: absolute;
  background-color: #f4f4f4;
  display: grid;
  grid-template-columns: 1fr 6fr;
  gap: 5px;
  bottom: 0;
  height: 25%;
  width: 100%;
  padding: 10px 5px;
  box-shadow: 0px -8px 20px 2px rgba(0, 0, 0, 0.15);
  z-index: 996;
}

.flowViewBtnDiv {
  display: flex; /* flexbox 활성화 */
  flex-direction: column; /* 버튼들을 세로로 정렬 */
}

.flowViewBtn {
  background-color: #f4f4f4;
  border: 1px solid #4a5c6a;
  color: #4a5c6a;
  z-index: 1;
  width: 90%;
  margin-bottom: 5px;
}

.closeIsolatedBtn {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 20px;
  height: 30px;
  size: 20px;
  background-color: transparent;
  border: 1px solid #4a5c6a;
  color: #4a5c6a;
  z-index: 1;
}

.graphDiv {
  /* --svg-height: 200px; */
  height: 75%;
  /* padding: 10px; */
  /* position: relative; */
  overflow: hidden;
}

.createNewPageDiv {
  padding: 15px 0;
  margin: 10px 0;
  border-top: 1px solid #9BA8AB;
  border-bottom: 1px solid #9BA8AB;
}

.liDetailDiv {
  background-color: #9BA8AB;
  border-radius: 5px;
  display: inline;
  padding: 10px;
  margin-left: 4px;
  margin-right: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}

.categoryStyle {
  width: calc(90% - 10px);
  /* margin-left 만큼 빼줍니다 */
  margin-left: 10px;
  box-sizing: border-box;
  /* box-sizing을 border-box로 설정 */

}

.amountStyle {
  text-align: right;
  width: calc(90% - 10px);
  /* margin-left 만큼 빼줍니다 */
  margin-left: 10px;
  box-sizing: border-box;
  /* box-sizing을 border-box로 설정 */

}

.accountSelect {
  background-color: white;
  border: 0px solid white;
  width: calc(90% - 10px);
  /* margin-left 만큼 빼줍니다 */
  margin: 4px 0px 4px 10px;
  cursor: pointer;
  padding: 4px 7px;
  padding-left: 1px;
  /* padding-left를 0으로 설정하여 내부 글씨의 왼쪽 마진을 없앰 */
  border-radius: 4px;
  box-sizing: border-box;
  /* box-sizing을 border-box로 설정 */

}

.saveEditedBtn_active {
  width: 49%;
  height: 40px;
  margin: 0.5%;
  color: white;
  background-color: #004EFC;
  border: 1px solid #004EFC;
}

.saveEditedBtn_inactive {
  width: 49%;
  height: 40px;
  margin: 0.5%;
  color: white;
  background-color: #e2e2e2;
  border: 1px solid #e2e2e2;
}

.saveEditedBtn_inactive:hover {
  box-shadow: none;
  cursor: default;
}

.cancelEditedBtn_active {
  width: 49%;
  height: 40px;
  margin: 0.5%;
  color: rgb(168, 40, 40);
  background-color: #f4f4f4;
  border: 1px solid rgb(168, 40, 40);
}

.cancelEditedBtn_inactive {
  width: 49%;
  height: 40px;
  margin: 0.5%;
  color: #e2e2e2;
  background-color: #f4f4f4;
  border: 1px solid #e2e2e2;
}

.cancelEditedBtn_inactive:hover {
  box-shadow: none;
  cursor: default;
}

.pageEditedBtn_active {
  width: 49%;
  height: 40px;
  margin: 10px 0.5%;
  color: white;
  background-color: #004EFC;
  border: 1px solid #004EFC;
}

.pageEditedBtn_inactive {
  width: 49%;
  height: 40px;
  margin: 10px 0.5%;
  color: white;
  background-color: #e2e2e2;
  border: 1px solid #e2e2e2;
}

.pageEditedBtn_inactive:hover {
  box-shadow: none;
  cursor: default;
}

.cancelPageEditedBtn_active {
  width: 49%;
  height: 40px;
  margin: 10px 0.5%;
  color: rgb(168, 40, 40);
  background-color: transparent;
  border: 1px solid rgb(168, 40, 40);
}

.cancelPageEditedBtn_inactive {
  width: 49%;
  height: 40px;
  margin: 10px 0.5%;
  color: #e2e2e2;
  background-color: transparent;
  border: 1px solid #e2e2e2;
}

.cancelPageEditedBtn_inactive:hover {
  box-shadow: none;
  cursor: default;
}

.listToggleDiv {
  display: inline;
}

.isolatedExpenseDiv {
  height: 100%;
  width: 80%;
  overflow: auto; /* 내용이 넘치면 스크롤 생성 */
}

.isolatedExpense {
  /* position: relative; */
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.isolatedDivStyle {
  /* overflow-y: auto; */
  /* height: 90%;
  width: 90%; */
}

.isolatedDetailDiv {
  /* padding: 5px; */
}

.toggleBtn_active {
  color: #4a5c6a;
  background-color: transparent;
  border: 0px solid transparent;
  margin: 0.5%;
  position: relative;
  top: -2px;
}

.toggleBtn_inactive {
  color: rgba(74, 92, 106, 0.3);
  background-color: transparent;
  border: 1px solid transparent;
  margin: 0.5%;
  position: relative;
  top: -2px;
}

.toggleBtn_inactive:hover {
  box-shadow: none;
  cursor: not-allowed;
  transition: none;
}

.listViewLiDiv {
  padding: 5px;
  border: 0px solid white;
  border-radius: 2px;
  background-color: white;
  margin: 5px 0px 5px 10px;
  /* max-width: 300px; */
  display: inline;
}

.listViewLiDiv_clicked {
  padding: 5px;
  border: 2px solid #004EFC;
  border-radius: 4px;
  background-color: white;
  margin: 5px 0px 5px 10px;
  display: inline;
}

.isolatedAlignStyle {
  position: relative;
}

.isolatedTableStyle {
  width: auto;
  border-collapse: collapse;
  margin: 20px 0;
}

.isolatedTableStyle td {
  padding: 5px 5px;
  border: 1px solid #dddddd;
  text-align: left;
}

.listViewLiStyle {
  line-height: 250%;
  list-style: none;
}

.olBgStyle {
  background-color: rgb(204, 208, 207, 0.5);
  border-left: 5px solid rgb(140, 140, 140, 0.5);
  margin: 10px 10px 10px 5px;
  padding: 20px 10px 20px 30px;
  border-radius: 5px;
  position: relative;
}

.pageListStyle {
  margin: 10px;
  padding: 10px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(204, 208, 207);
  border-radius: 20px;
  padding: 40px;
  color: black;
  z-index: 999;
  /* 모달을 다른 요소 위에 표시합니다 */
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 998;
  /* 모달보다 아래에 위치해야 합니다 */
}

.pageNameStyle {
  margin: 5px 5px;
  width: 200px;
}

.pageSettingOlStyle {
  margin-top: 10px;
  padding: 15px;
}