body {
  background-color:#f5efe9;
}
h2 {
  padding-left: 40px;
}
h3 {
  padding-left: 40px;
}
button:hover{
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer; /* 마우스 포인터를 올렸을 때 손가락으로 바뀜 */
  transition: box-shadow 0.1s linear;
}
.mainBodyDiv{
  margin: 70px auto;
  width: 70%;
  min-width: 1000px;
}
.menuDiv {
  word-break: break-all;
  backdrop-filter: blur(5px);
  margin-bottom: 20px;
  position: sticky;
  top: 0;
}
.subMenuGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.mainViewDiv {
  padding-top: 10px;
}
.unitDiv {
  border: 1px solid black;
  padding: 20px auto;
  border-radius: 5px;
}
.unitDiv:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.subGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin: 20px 0px;
}
.categoryStyle {
  width: 100px;
}
input {
  padding: 3px 7px;
  margin: 2px 0px;
}
input:read-only.categoryStyle_readingMode {
  background-color: white;
  border: none;
  width: 100px;
}
.amountStyle {
  text-align : right;
  width: 70px;
  margin-right: 10px;
}
input:read-only.amountStyle_readingMode  {
  background-color: white;
  border: none;
  text-align : right;
  width: 70px;
  margin-right: 10px;
}
input:read-only {
  background-color: #cdcdcd;
}
.newUlStyle {
  list-style:none;
}
.saveEditedStyle_active {
  width: 49%;
  height: 40px;
  color: white;
  background-color: #449cdb;
  border: 1px solid #449cdb;
  margin: 0.5%;
}
.saveEditedStyle_inactive {
  width: 49%;
  height: 40px;
  color: white;
  background-color: #a0a0a0;
  border: 1px solid #a0a0a0;
  margin: 0.5%;
}
.cancelEditedStyle_active {
  width: 49%;
  height: 40px;
  color: rgb(168, 40, 40);
  background-color: transparent;
  border: 1px solid rgb(168, 40, 40);
  margin: 0.5%;
}
.cancelEditedStyle_inactive {
  width: 49%;
  height: 40px;
  color: #a0a0a0;
  background-color: transparent;
  border: 1px solid #a0a0a0;
  margin: 0.5%;
}
.saveEditedDiv {
  width: 50%;
  margin: auto;
}
.pageHanderDiv {
  font-size: 13px;
  margin: 10px;
}
.loginMenuDiv {
  text-align: right;
  font-size: 13px;
  margin: 10px;
}
.titleDiv{
  text-align : center;
}